*{
    box-sizing: border-box;
}

body {
 background: #E6EDF0;
 font-family: 'Roboto', sans-serif;
 color: #0D0707;
}

h1 {
    font-size: 46px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

h1, h2 {
    text-align: center;
    font-family: 'Domine', serif;
}
section {
    width: 75%;
    margin: auto;
    font-size: 18px;
}

select {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    width: 150px;
    line-height: 1.3;
    margin: 0.5rem;
}

.results .date-response{
    display: none;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    position: relative;
    color: #D32C41;
    z-index: 1000;
}

section p {
    text-align: center;
}

button {
    background-color: #8B895E;
    font-size: 18px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem 1.5rem;
    border: none;
}

.user-location label {
    display: block;
    padding: 1rem 0;
}

.user-location label span {
    display: inline-block;
    padding: 0 0.1rem;
  }

.user-location input[type=text] {
    display: inline-block;
    font-size: 18px;
}

.location-button {
    display: block;
    margin: auto;
}


#wheel {
    position: absolute;
    width: 350px;
    overflow: hidden;
    top: 300px;
    left: -100px;
    z-index: 200;
    animation: spin 3s linear, slide 3s forwards;
}

@keyframes spin { 
    100% { transform:rotate(450deg); } 
}
@keyframes slide {
    100% { left: 800px; }
}

#clock {
    display: block;
    margin: auto;
    width: 350px;
}

.restart { 
    display: block;
    margin: auto;
}

.night {
    background-image: url("Night.jpg");
    color: white;
}

@media(max-width: 600px) {
    h1 {
        font-size: 42px;
    }
    .user-location input[type=text], .user-location select {
        width: 50%;
    }

    #wheel {
        width: 250px;
    }
    @keyframes slide {
        100% { left: 625px; }
    }

    button {
        display: block;
        margin: auto;
    }

   #datetime select {
       display: block;
       margin: 1rem auto;
   }

}

@media(max-width: 900px) {

    @keyframes slide {
        100% { left: 800px; }
    }

    #wheel {
        width: 250px;
        top: 350px;
    }
    #clock {
        width: 250px;
    }
}

@media(min-width: 900px) {
    section {
        padding: 0 10%;
    }

    #datetime {
        margin: auto;
    }
}

@media(max-width: 1200px) {
    #wheel {
        width: 300px;
    }

    @keyframes slide {
        100% { left: 600px; }
    }
    #clock {
        width: 250px;
    }
}

