*{
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.results .date-response{
    display: none;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}