*{
    box-sizing: border-box;
}

body {
 background: cornflowerblue;
}

h1 {
    text-align: center;
}
section {
    font-size: 18px;
}

.results .date-response{
    display: none;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


button {
    padding: 1rem 2rem;
}

.night {
    background-image: url("Night.jpg");
    color: white;
}